<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
  </head>
  <body>
<h1> <%= kindOfDay%> </h1>

<form class="" action="/" method="post">
  <input type="text" name="newItem" >
  <button type="submit" name="button">Add</button>
</form>

<ul>
  <li>Buy food</li>
  <li>Cook food</li>
  <li>Eat food</li>
  <% for(var i = 0; i<newListItems.length; i++){ %>
  <li> <%=newListItems[i] %> </li>
  <%}%>

</ul>

  </body>
</html>
