<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do list</title>
  </head>
  <body>
<% if (kindOfDay === "Sunday" || kindOfDay === "Saturday"){ %>
    <h1 style="color:purple">Today is <%= kindOfDay %>! To DO list</h1>
<% } else {%>
  <h1 style="color:red">Today is <%= kindOfDay %>!</h1>
<%}%>

  </body>
</html>
